.Separador{
    display: flex;
    
}
.VoltarContas p{
    padding-bottom: 80px;;
    margin-right: 1500px;
    font-size:40px;
    color:white; 
}
.Formulario{
    background: linear-gradient(-229deg, #070303ec, #1d4480b0);
    width: 100%;
    text-align: center;
    align-items: center;
    padding-top: 100px;
    padding-right: 40px;
    padding-bottom: 200px;;
}
.Formulario h1{
    padding-left: 680px;;
    color: white;
    font-size:70px;
    font-weight: 600;
    font-family: 'Inter' 'Sans-serif';
    padding-bottom: 50px;
}
.Formulario h2{
    color:white;
    font-family: 'Inter', sans-serif;
}
.Formulario input{
    width:400px;
    padding-bottom: 10px;
    border-radius: 10px;
}
Form{
    margin-left: 100px;;
}
input::Placeholder{
    font-size: 30px;
    font-family: 'Inter', sans-serif;
}
.Botao input {
    width: 100px;;
    margin-top:30px;
    padding-top: 10px;
    align-content: center;   
}
input{
    border:0;
    font-size:30px;
    padding-left: 5px;; 
}
.Botao input {
   font-size:20px;
   background-color: red;
   color:white;
   font-family: 'Inter', sans-serif;
   border-radius: 20px 8px;;
}
.Nome{
    padding-right:300px;
}
.Quant{
    padding-right:235px;
}
.Preco{
    padding-right:310px;
}
.Invest{
    padding-right:215px;
}

.Lucro1{
    padding-right:500px;;
}
.Resultado{
background-color: rgba(0, 0, 0, 0.295);
border-radius: 50px;
width:800px;
height:400px;
margin-top:36px;
margin-right: 50px;
margin-left:150px;
}
.Resultado h3{
    color:white;
    font-size:30px;
    padding-top:15px;
    font-family: 'Inter', sans-serif;
}
.Resultado p{
    color:white;
    font-size:50px;
    padding-top:50px;
    font-family: 'Inter', sans-serif;
}
.Titulo{
    margin-right: 420px;
}
#ac{
    margin-right: 420px;;
    font-size: 80px;
}
#lucroT{
   font-size: 60px;
   margin-top:80px;
}




