
.Separador{
    display: flex;
}
.VoltarContas p{
    padding-bottom: 100px;;
    margin-right: 1500px;
    font-size:50px;
    color:white;
  
}
.Formulario{
    background: linear-gradient(-229deg, #070303ec, #1d4480b0);
    width: 100%;
    text-align: center;
    align-items: center;
    padding-top: 100px;
    padding-right: 40px;
    padding-bottom: 200px;;
}
.Formulario h1{
    color: white;
    font-size:70px;
    font-weight: bold;
    font-family: 'Inter' 'Sans-serif';
    padding-bottom: 50px;;
  
}
.Formulario h2{
    color:white;
    font-family: 'Inter', sans-serif;
}

.Formulario input{
    width:300px;
    padding-bottom: 10px;
    border-radius: 10px;

}
input::Placeholder{
    font-size: 30px;
    font-family: 'Inter', sans-serif;
}
.Botao input {
    width: 100px;;
   margin-top:30px;
   padding-top: 10px;
    align-content: center;
  


    
}
input{
    border:0;
    font-size:30px;
    padding-left: 5px;;
}
.Botao input {
   font-size:20px;
   background-color: red;
   color:white;
   font-family: 'Inter', sans-serif;

  
  
   border-radius: 20px 8px;;
}

.Nome{
    padding-right:210px;
}
.Quant{
    padding-right:135px;
}
.Preco{
    padding-right:220px;
}
.Invest{
    padding-right:115px;
}
Form{
  margin-right: 100px;
}
.Lucro1{
    padding-right:500px;;
}
.Cifrao{
    padding-left:50px;
    padding-top: 245px;;
    font-size:35px;
    padding-right: 10px;;
    color: white;
    font-weight: bold;
    font-family: 'Inter' 'Sans-serif';
}
.Resultado{
background-color: rgba(0, 0, 0, 0.295);
border-radius: 50px;
width:800px;
height:450px;
margin-top:5px;
}

.Resultado h3{
    color:white;
    font-size:50px;
    padding-top:15px;
    font-family: 'Inter', sans-serif;
}
.Resultado p{
    color:white;
    font-size:50px;
    padding-top:30px;
    font-family: 'Inter', sans-serif;
}




