*{
    margin:0;
    padding:0;
}

.Menu{
    padding-top:50px;
    height:450px;
    background-color: #1d1d1fbd;
    display: flex;
    justify-content: space-between;
    text-align: center;
  
}
.Logo{
color:white;
margin-left: 500px;;
font-size: 15px;
display: flex;
font-family: 'Inter', sans-serif;
font-weight: lighter;

}
.Logo p{
    padding-top:19px;
    font-weight: bold;
}
.Logo h1{
    font-weight: lighter;
}

.Tittle{
    color:white;
    display: flex;
    margin-right:600px;
    list-style: none;
    gap:80px;
    font-size:30px;
    font-weight: bold;
    font-family: 'Inter' 'Sans-serif';
}
.Tittle li{
    font-weight: lighter;
}
