

.Produtos h1{
    font-size: 30px;;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;;
    background-color: rgba(0, 0, 0, 0.363);
    widtH:150px;
    height:20px;
    padding-left: 10px;;
    border-radius: 30px 20PX;;
    margin-top: 190px;;
    color:white;
    font-weight: lighter;
  
}
.Flex{
display: flex;;
justify-content: space-around;
gap:50px;
padding-top:30px;
padding-left: 50px;;

}
.Flex h4{
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    padding-top:30px;
    color:white;

    
}
.Flex h2{
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
}
button {
    color: white;
    background-color: rgba(255, 0, 0, 0.541);
    border: 0;
    font-size: 20px;;
    padding: 0 30px;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    margin-top: 10px;;
    border-radius: 50px 30px;
}
