.Shadow{
    box-shadow: 1px 9px 59px -14px rgba(17, 2, 2, 0.69);
    -webkit-box-shadow: 1px 9px 59px -14px rgba(36, 4, 4, 0.69);
    -moz-box-shadow: 1px 9px 59px -14px rgba(0,0,0,0.69);
    width:1200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;;
    
}
.Sobre {
    margin-top: 100px;
    padding-top: 100px;;
    text-align: center;
  
   

}
.Sobre h1{
    font-weight: lighter;
    padding-bottom: 100px;;
}
.Creditos{
    display: flex;
    justify-content: center;
    gap:530px;
    margin-bottom:40px;
  
    
   
}
.Creditos h2{
    font-weight: lighter;
    font-size: 50px;;
    
}
.Cards{
    display: flex;
    justify-content: space-between;
    padding:0 100px;
    padding-bottom:100px ;
    margin-bottom: 300px;;
    
}
.card__giratorio {
    justify-content: space-between;
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}
.card__giratorio-conteudo {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.card__giratorio:hover .card__giratorio-conteudo {
    transform: rotateY(180deg);
}
.card__giratorio-conteudo--frente,
.card__giratorio-conteudo--traseira {
    padding-bottom: 50px;;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card__giratorio-conteudo--frente {
    background: linear-gradient(-229deg, #E65758, #771D32);
}
.card__giratorio-conteudo--frente p{
    font-size: 80px;
    color: white;
}
.card__giratorio-conteudo--traseira {
    background: linear-gradient(229deg, #E65758, #771D32);
    color: white;
    transform: rotateY(180deg);
}
.card__giratorio-conteudo--traseira h1{
    padding-bottom: 30px;
}
.card__giratorio-conteudo--traseira h1,
.card__giratorio-conteudo--traseira p {
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.card__giratorio-conteudo--traseira h1 {
    font-size: 1.7rem;
}
.logo {
    width: 50px;
    height: 50px;
    filter: drop-shadow(2px 2px 5px black);
    opacity: .7;
}


